.content-inside-grid {
    position: absolute;
    width: 100%; 
    height: 100%;
    align-items: flex-start;
  }

.content-inside-header {
    position: absolute;
    width: 100%; 
    align-items: flex-start;
}

.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }