<mat-toolbar *ngIf="loader">
	{{position.name}}
</mat-toolbar>
<mat-progress-bar [hidden]="loader" mode="buffer"></mat-progress-bar>
<button mat-button (click)="goBack()">Go Back</button>

<mat-tab-group style="padding-left: 20px; padding-right: 20px;">
	<mat-tab label="Candidats">

		<div style="margin: 1rem;">
			<form [formGroup]="secondFormGroup">

				<div class="row" style="padding-left: 20px; padding-right: 40px;">
					<div class="col">
						<mat-form-field>
							<input matInput placeholder="Name" formControlName="name" required>
						</mat-form-field>
					</div>
					<div class="col">
						<mat-form-field class="example-full-width">
							<input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="matcher">
							<mat-icon matSuffix>email</mat-icon>
							<mat-hint>Errors appear instantly!</mat-hint>
							<mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
								Please enter a valid email address
							</mat-error>
							<mat-error *ngIf="emailFormControl.hasError('required')">
								Email is <strong>required</strong>
							</mat-error>
						</mat-form-field>
					</div>

					<div class="col">
						<mat-form-field>
							<input matInput [matDatepicker]="invitationDatepicker" formControlName="invitationDate" placeholder="Invitation Date">
							<mat-datepicker-toggle matSuffix [for]="invitationDatepicker"></mat-datepicker-toggle>
							<mat-datepicker #invitationDatepicker></mat-datepicker>
						</mat-form-field>

					</div>

					<div class="col">
						<mat-form-field>
							<input matInput [matDatepicker]="expiredDatepicker" formControlName="expiredDate" placeholder="Expire Date">
							<mat-datepicker-toggle matSuffix [for]="expiredDatepicker"></mat-datepicker-toggle>
							<mat-datepicker #expiredDatepicker></mat-datepicker>
						</mat-form-field>
					</div>

					<div class="col">
						<mat-form-field class="example-full-width">
							<input type="tel" formControlName="phone" matInput placeholder="Telephone">
							<mat-icon matSuffix>phone</mat-icon>
						</mat-form-field>
					</div>
					<div class="col-1">
						<button mat-fab color="primary" (click)="addCandidat()">Add</button>
					</div>
				</div>

			

				<div style="padding-left: 20px; padding-right: 20px;">

					<mat-form-field class="filter_line">
						<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
					</mat-form-field>

					<div class="mat-elevation-z8">

						<table mat-table matSort [dataSource]="dataSourceCandidats">


							<!-- Name Column -->
							<ng-container matColumnDef="name">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
								<td mat-cell *matCellDef="let element"> <button (click)="candidatDetail(element)" mat-button>{{element.name}}</button>
								</td>
						
							</ng-container>

						

							<!-- email Column -->
							<ng-container matColumnDef="email">
								<th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
								<td mat-cell *matCellDef="let element"> {{element.email}} </td>
							</ng-container>

							<!-- phone Column -->
							<ng-container matColumnDef="phone">
								<th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
								<td mat-cell *matCellDef="let element"> {{element.phone}} </td>
							</ng-container>


							<!-- Open Date Column -->
							<ng-container matColumnDef="_">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
								<td mat-cell *matCellDef="let element">
									<button mat-icon-button matTooltip="Remove candidat" matTooltipPosition="right">
										<mat-icon (click)="deleteCandidat(element)">remove_circle_outline</mat-icon>
									</button> </td>
							</ng-container>


							<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
							<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
						</table>

						<mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>

					</div>
				</div>

			</form>

		</div>

	</mat-tab>
	<mat-tab label="Revievers">


		<div style="margin: 1rem;">


			<form [formGroup]="revievierFormGroup" style="padding-top: 10px;">
				<div class="row" style="padding-left: 20px; padding-right: 40px;">

					<div class="col">
						<mat-form-field>
							<input matInput placeholder="Name" formControlName="name" required>
						</mat-form-field>
					</div>

					<div class="col">
						<mat-form-field>
							<input matInput placeholder="Number" formControlName="number" required>
						</mat-form-field>
					</div>

					<div class="col">
						<mat-form-field class="example-full-width">
							<input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="matcher">
							<mat-icon matSuffix>email</mat-icon>
							<mat-hint>Errors appear instantly!</mat-hint>
							<mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
								Please enter a valid email address
							</mat-error>
							<mat-error *ngIf="emailFormControl.hasError('required')">
								Email is <strong>required</strong>
							</mat-error>
						</mat-form-field>
					</div>

					<div class="col">
						<mat-form-field>
							<input matInput [matDatepicker]="revieversInvitationDatepicker" formControlName="revieversInvitationDatepicker" placeholder="Invitation Date">
							<mat-datepicker-toggle matSuffix [for]="revieversInvitationDatepicker"></mat-datepicker-toggle>
							<mat-datepicker #revieversInvitationDatepicker></mat-datepicker>
						</mat-form-field>
					</div>

					<div class="col-1">

						<!-- <button mat-raised-button (click)="addCandidat()">Add new position</button> -->
						<button mat-fab color="primary" (click)="addReviever()">Add</button>
					</div>
				</div>


				<div style="padding-left: 20px; padding-right: 20px;">

					<mat-form-field class="filter_line">
						<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
					</mat-form-field>

					<div class="mat-elevation-z8">

						<table mat-table matSort [dataSource]="dataSourceViewers">

							<!-- id Column -->
							<ng-container matColumnDef="number">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
								<td mat-cell *matCellDef="let element"> {{element.number}} </td>
							</ng-container>

							<!-- Name Column -->
							<ng-container matColumnDef="name">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
								<td mat-cell *matCellDef="let element"> <button mat-button>{{element.name}}</button>
								</td>
							</ng-container>

							<!-- email Column -->
							<ng-container matColumnDef="email">
								<th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
								<td mat-cell *matCellDef="let element"> {{element.email}} </td>
							</ng-container>


							<!-- Open Date Column -->
							<ng-container matColumnDef="_">
								<th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
								<td mat-cell *matCellDef="let element">
									<button mat-icon-button matTooltip="Remove position" matTooltipPosition="right">
										<mat-icon (click)="deleteReviever(element)">remove_circle_outline</mat-icon>
									</button> </td>
							</ng-container>


							<tr mat-header-row *matHeaderRowDef="displayedColumnsR"></tr>
							<tr mat-row *matRowDef="let row; columns: displayedColumnsR;"></tr>
						</table>

						<mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>

					</div>


				</div>


			</form>

		</div>



	</mat-tab>


	<mat-tab label="Questions" style="padding-top: 10px;">


		<div style="margin: 1rem;">

			<div class="row">
				<div class="col-6">
					<mat-form-field style="width: 90%;">
						<textarea rows="1" matAutosizeMinRows=1 matAutosizeMaxRows=5 #question matInput placeholder="Type a question"></textarea>
					</mat-form-field>
				</div>

				<div class="col-3">
					<button mat-fab color="primary" (click)="addQuestions(question.value, time.value)">Add</button>
				</div>
				<div class="col-3">
					<mat-form-field>
						<mat-select #time placeholder="Available time">
							<mat-option value="60">
								60
							</mat-option>
							<mat-option value="90">
								90
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<mat-toolbar>
					Questions:
				</mat-toolbar>
			</div>
			<div class="row">
				<div class="col" style="width: 100%;">
					<mat-list>
						<span *ngFor="let item of questions">
							<mat-list-item>{{item.name}}</mat-list-item>
							<mat-divider></mat-divider>
						</span>

						<mat-divider></mat-divider>
					</mat-list>
				</div>
			</div>

		</div>



	</mat-tab>

	<mat-tab label="Common Details">

		<div style="margin: 1rem;">

			<form style="padding-left: 10px;" [formGroup]="firstFormGroup">

				<div class="row">
					<mat-form-field class="example-part-width">
						<input matInput placeholder="Number" formControlName="number" required>
						<mat-icon matSuffix>edit</mat-icon>
					</mat-form-field>
				</div>
				<div class="row">
					<mat-form-field class="example-part-width">
						<input matInput placeholder="Name" formControlName="name" required>
						<mat-icon matSuffix>edit</mat-icon>
					</mat-form-field>
				</div>


				<div class="row">
					<mat-form-field class="example-part2-width">
						<textarea matInput mat-autosize="true" matAutosizeMinRows=1 matAutosizeMaxRows=5 formControlName="about" placeholder="About this interview"> 
					</textarea>
					</mat-form-field>
				</div>

				<div class="row">
					<mat-form-field class="example-part2-width">
						<textarea matInput mat-autosize="true" matAutosizeMinRows=1 matAutosizeMaxRows=5 formControlName="companyInfo" placeholder="Company Information">
					</textarea>
					</mat-form-field>
				</div>

				<div class="row">
					<mat-form-field class="example-part2-width">
						<textarea matInput mat-autosize="true" matAutosizeMinRows=1 matAutosizeMaxRows=5 formControlName="instruction" placeholder="Instruction to this interview"> 
						</textarea>
					</mat-form-field>
				</div>


				<div class="row">

					<div class="col">

						<mat-form-field>
							<input matInput [matDatepicker]="openDatepicker" formControlName="openDate" placeholder="Open Date">
							<mat-datepicker-toggle matSuffix [for]="openDatepicker"></mat-datepicker-toggle>
							<mat-datepicker #openDatepicker></mat-datepicker>
						</mat-form-field>

					</div>

					<div class="col">

						<mat-form-field>
							<input matInput placeholder="Time" formControlName="openDatepickerTime" required>
							<mat-icon matSuffix>edit</mat-icon>
						</mat-form-field>

					</div>

				</div>

				<div class="row">

					<div class="col">

						<mat-form-field>
							<input matInput [matDatepicker]="closeDatepicker" formControlName="closeDate" placeholder="CloseDate Date">
							<mat-datepicker-toggle matSuffix [for]="closeDatepicker"></mat-datepicker-toggle>
							<mat-datepicker #closeDatepicker></mat-datepicker>
						</mat-form-field>

					</div>

					<div class="col">

						<mat-form-field>
							<input matInput placeholder="Time" formControlName="closeDatepickerTime" required>
							<mat-icon matSuffix>edit</mat-icon>
						</mat-form-field>

					</div>

				</div>


			</form>
			<button mat-raised-button (click)="updateCommonInfo()" color="primary">Update</button>

		</div>

	</mat-tab>

	<mat-tab label="Big Picture">


		<app-big-picture></app-big-picture>


	</mat-tab>



</mat-tab-group>

