<mat-toolbar *ngIf="loader">
  {{position.name}}
</mat-toolbar>
<mat-progress-bar [hidden]="loader" mode="buffer"></mat-progress-bar>

<div class="container" *ngIf="loader">


  <mat-list role="list">

    <div *ngFor="let cand of position.candidats">

      <div class="row">
        <div class="col">
          <mat-list-item role="listitem"> <button (click)="rateCandidat(cand)" mat-button>{{cand.number}}</button></mat-list-item>
        </div>

        <div class="col">
          <mat-list-item role="listitem"> Status </mat-list-item>
        </div>
        <mat-divider></mat-divider>
      </div>
     
    </div>

  </mat-list>



</div>