<mat-toolbar>
	Candidat Detail: {{candidat.name}}
</mat-toolbar>
<mat-progress-bar [hidden]="loader" mode="buffer"></mat-progress-bar>
<button mat-button (click)="goBack()">Go Back</button>

<div style="padding-left: 40px; padding-top:20px;">

	<div class="row" style="width: 100%;">
		<div class="col-6">
			<div class="row" style="width: 100%;" *ngFor="let test of candidat.answers">

				<mat-list-item>{{test.test}}</mat-list-item>
				<mat-divider></mat-divider>

				<mat-form-field style="width:100%;">
					<textarea matAutosizeMaxRows=5 readonly matInput value="{{test.content}}"></textarea>
				</mat-form-field>

			</div>
		</div>
		<div class="col-6">

			<div class="row">
				<div class="col">
					<b> Test </b>
				</div>
				<div class="col" *ngFor="let viewer of viewers">
					<b> {{viewer.name}}</b>
				</div>
			</div>


			<div class="row" *ngFor="let answer of candidat.answers">
				<div class="col">
					{{answer.test}}
				</div>

				<div class="col" *ngFor="let rating of answer.ratings">
					{{rating.grade}}
				</div>

			</div>

		</div>
	</div>

</div>